PAY_TO_ADDRESS=
PORT=
WS_PORT=
WORLD_RP_ID=
WORLD_SIGNING_KEY=
XMTP_ENV=dev
XMTP_WALLET_KEY=
XMTP_DB_ENCRYPTION_KEY=
AGENT_PRIVATE_KEY=
AGENT_ADDRESS=
ANTHROPIC_API_KEY=
WORLD_APP_ADDRESS=
ENABLE_REAL_REWARDS=